<div [class]="!parentNode ? 'tree' : 'tree__has-parent'">
  @for (node of nodes; track $index) {
  <div class="tree-item-wrapper">
    <app-tree-item [disabled]="node.is_deleted" [open]="checkOpen(node)" (idButtonClicked)="showId($event)" (isOpen)="openTree($event)" [node]="node"></app-tree-item>
  </div>
  @if (node.children && checkOpen(node)) {
  <app-tree-section
    @fadeInOut
    [parentNode]="node"
    [nodes]="node.children"
  ></app-tree-section>
  } }
  <div class="tree-column"></div>
</div>
