.tree-container {
  border: 1px solid var(--color-white);
  width: 300px;
  transition: 0.3s all;
  border-radius: 4px;
  padding: 0  var(--standart-padding) var(--standart-padding);
}

main{
    display: flex;
    flex-direction: column;
    gap:2rem;
}