:root {
  /* Colors */
  --color-white: #fff;
  --color-light-gray: #545454;
  --color-dark: #0c0c0c;
  --color-gray: #0e0e0e;
  --yelow-color: #ffd900;
  --blue-color: #2357ec;

  /* Typography */
  --font-family: "Inter", "Segoe UI", "Roboto", sans-serif;
  --color-text: var(--color-white);

  /* Backgrounds */
  --color-background: var(--color-gray);
  --light-color-background: var(--blue-color);

  /* Gaps */
  --standart-gap: 1rem;

  /* Paddings */
  --standart-padding: 1rem;
}
