:root {
  /* Colors */
  --color-white: #fff;
  --color-light-gray: #b4b4b4;
  --color-dark: #0c0c0c;
  --color-gray: #0e0e0e;

  /* Typography */
  --font-family: "Inter", "Segoe UI", "Roboto", sans-serif;
  --color-text: var(--color-white);

  /* Backgrounds */
  --color-background: var(--color-gray);
}
